.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 280px);
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
}